<div id="<%= dom_id vault %>">
  <div>
    <strong>Site:</strong>
    <%= vault.site %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= vault.url %>
  </div>

  <div>
    <strong>Login:</strong>
    <%= vault.login %>
  </div>

  <div>
    <strong>Password:</strong>
    <%= vault.password %>
  </div>

</div>
